<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                
                <header>
                    <h2>{{title}}</h2>
                </header>
                <small class="author">
                    By: {{this.User.fullName}}
                </small>
                
                <img src="{{pictureUrl}}" align="left" width="300px" height="169px" alt="" style="margin: 20px 20px 0 0;"></src>

                <p style="text-indent: 2em; margin: 20px 0px 5px 0; text-align:justify;">
                    {{content}}
                </p>

                <small class="author">        
                        {{this.date}}
                    </small>
                
                
                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/article/userArticles">&laquo; Back</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>
                
