{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <img src="{{ article.picture }}" align="left" width="300px" height="169px" alt="" style="margin: 20px 20px 0 0;"></src>

                    <p style="text-indent: 2em; margin: 20px 0px 5px 0; text-align:justify;">
                        {{ article.content }}
                    </p>

                    <small class="author">
                        {{ article.author }}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">&laquo; Back</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>


{% endblock %}

